#entete{
    width: 100%;
    float: center;
    /*position: absolute;
    top:50px;*/
}

.nav{
    background-color: black;
}

#logo{

    margin-left: 20%;
}

#englobe_contacts{
    margin-right: 20%;
    padding-top: 15px;
    float: right;
}

.header{
    background-image: url(D:/infinitetest/infinitetest-master/img/bandeau_gris.png);
    height: 50px;
    font-size: 1.2em;
    font-family: Arial;
}
#footer3{
    background-image: url(D:/infinitetest/infinitetest-master/img/barrebas.png);
    font-size: 1.2em;
    font-family: Arial;
    height: 250px;
    float: bottom ;
}

#footer2{
    background-image: url(D:/infinitetest/infinitetest-master/img/barrebas2.png);
    height: 100%;
    width: 100%;
    display: flex;
}

#fb2{
    margin-left: 20%;
}

#footer1{
    display: flex;
    background-color: silver;
}

#footer3{
    display: flex;
    color: white;
}

#soutenezlaphoto{
    margin-left: 20%;
    margin-right: 30px;
}

#rubriques{
    margin-right: 30px;
    margin-left: 30px;
}

#footer1left{
    margin-left: 20%;
}

#footer1right{
    margin-left: 30px;
}

#parallax-passion{
    height: 100%;
    min-height: 400px;
    background: transparent;
}

#articlealaune{
    margin-left: 20%;
   /* margin-right: 5%;*/
    /*display: flex;*/
}

#photo1{
    width: 35%;
    height: 35%;
}

#article1{
    display: flex;
    margin-right: 30px;
}

#lorem{
    float: right;
    margin-left: 30px;
    margin-right: 20%;
    font-family: Arial;
    font-size: 1em;
}

#lorem1{
    font-style: bold;

}

#articleactualite1{
    margin-left: 20%;
    margin-right: 20%;
}

#articleactualite2{
    display:flex;

}

#photo2{
    width: 90%;
}


#photo3{
    width: 90%;
}

#leejef{
    margin-left: 20%;
    margin-right: 20%;
}

#grille1{
    width:17%;
    margin-left: 20%;
}
#grille2{
    width:17%;
}
#grille3{
    width:17%;
}
#grille4{
    width:17%;
}
#grille5{
    width:17%;
}
#grille6{
    width:17%;
}
#grille7{
    width:17%;
}
#grille8{
    width:17%;
}

#ligne1{
    margin-left: 20px;

}

#ligne2{
    margin-left: 120px;
    margin-bottom: 150px;
    margin-top: -30px;


}

svg{
    width:30%;

}

ul {
  list-style-type:none;
  color: black;
 }
